
    <!--THƯƠNG HIỆU-->
    <section id="clients" class="clients mt-5">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
            <img src="../../assets/img/brands/adidas.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="200">
            <img src="../../assets/img/brands/converse.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="300">
            <img src="../../assets/img/brands/new balance.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="400">
            <img src="../../assets/img/brands/nike.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="500">
            <img src="../../assets/img/brands/puma.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="600">
            <img src="../../assets/img/brands/vans.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section>
    <!--END THƯƠNG HIỆU-->
    <!--================FOOTER=====================-->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>Suwts</h3>
                <p>Chúng tôi sẽ trao cho bạn những mẫu giày<br>
                  chính hãng từ những thương hiệu nổi tiếng</p><br>
                <p>
                  Địa chỉ: Số 46, Ngõ 5, Kim Châu <br>
                  Kim Thư, Thanh Oai, Hà Nội<br>
                  <strong>Phone:</strong> (+89) 987514832<br>
                  <strong>Email:</strong> vuonglinh280202&#64;.com<br>
                </p>
                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                  <a href="https://www.facebook.com/vuong.linh.58152559/" class="facebook"><i class="fa-brands fa-facebook"></i></a>
                  <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="fa-brands fa-google"></i></a>
                  <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Hỗ trợ khách hàng</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Tài khoản</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/cart.html">Giỏ hàng</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Thanh toán</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Kiểm tra đơn hàng</a></li>

              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Danh sách menu</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="../../index.html">Trang chủ</a></li>
                <li><i class="bx bx-chevron-right"></i> <a routerLink = "/introduction">Giới thiệu</a></li>
                <li><i class="bx bx-chevron-right"></i> <a routerLink = "/store">Cửa hàng</a></li>
                <li><i class="bx bx-chevron-right"></i> <a routerLink = "/new">Tin tức</a></li>
                <li><i class="bx bx-chevron-right"></i> <a routerLink = "/contact">Liên hệ</a></li>
                <li><i class="bx bx-chevron-right"></i> <a routerLink = "/map">Chỉ đường</a></li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Kết nối với Suwts</h4>
              <p>Bạn có thể kết nối với chúng tôi bằng cách nhập email của bạn</p>
              <form action="" method="post">
                <input type="email" name="email"><input type="submit" value="Đặt mua">
              </form>

            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Suwts</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        </div>
      </div>
    </footer>
    <!--END FOOTER-->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script th:src="@{https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js}"></script>
<!--    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/js/glightbox.min.js}">-->
    <!-- Template Main JS File -->