<!DOCTYPE html>
<html>

<head>
    <title>Cart</title>
</head>

<body>

<div class="parent-div" style=" width: 1000px; height: 500px; background-color: darkgray; margin: 200px auto 0 auto" >
    <div class="child-div" style="text-align: center;">
        <h2 style="color:red;">ĐƠN HÀNG CỦA BẠN CHƯA GIAO DỊCH THÀNH CÔNG</h2>
        <h3>BẠN VUI LÒNG QUAY LẠI TRANG ĐĂNG KÍ VÀ HOÀN THÀNH GIAO DỊCH</h3>
        <h4>Nếu bạn hài lòng về chất lượng phục vụ cũng như chất lượng sản phẩm, bạn có thể đánh giá cửa hàng chúng tôi 5 sao </h4>
    </div>
</div>

</body>
