
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <link href="  https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap}" rel="stylesheet">-->

    <!--  <link rel="stylesheet" href="/assets/fonts/icomoon/style.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <link href="  https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link href="  https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Style -->
    <title>Login</title>>
</head>
<body>


<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/img/register/pasted image 0.png" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Sign In</h3>

                        </div>
                        <form [formGroup]="loginForm">
                            <div class="form-wrapper">
                                <input type="text" placeholder="Email" class="form-control" (focus)="validatorEmail()"
                                name="email" formControlName="email"> 
                                <i class="zmdi zmdi-email"></i>
                                <p class="text-danger" *ngIf="loginForm.get('email').errors && checkEmail">Email không hợp lệ</p>
                              </div>
                              <div class="form-wrapper">
                                <input type="password" placeholder="Mật khẩu" class="form-control" name="password"
                                (focus)="validatorPassword()" formControlName = "password">
                                <i class="zmdi zmdi-lock"></i>
                                <p class="text-danger" *ngIf="loginForm.get('password').errors && checkPassword">Mật khẩu không hợp lệ</p>
                        
                              </div>
                            <div class="d-flex mb-5 align-items-center">
                                <label class="control control--checkbox mb-0"><span
                                        class="caption">Nhớ tài khoản &nbsp;</span>
                                    <input type="checkbox" checked="checked"/>
                                    <div class="control__indicator"></div>
                                </label>
                                <span class="ml-auto"><a href="#" class="forgot-pass">Quên mật khẩu</a></span>
                            </div>

                            <input type="submit" (click)="login()" value="Log In" class="btn btn-block btn-primary">

                            <span class="d-block text-left my-4 text-muted">&mdash; hoặc đăng nhập bằng &mdash;</span>

                            <div class="social-login">
                                <a href="#" class="facebook">
                                    <span><i class="fab fa-facebook"></i></span>
                                </a>
                                <a href="#" class="twitter">
                                    <span><i class="fab fa-twitter"></i></span>
                                </a>
                                <a href="#" class="google">
                                    <span><i class="fab fa-google"></i></span>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<script src="  https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="  https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
<script src="  https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
<script>
    $(function() {
        'use strict';

        $('.form-control').on('input', function() {
            var $field = $(this).closest('.form-group');
            if (this.value) {
                $field.addClass('field--not-empty');
            } else {
                $field.removeClass('field--not-empty');
            }
        });

    });
</script>
</body>
</html>